.App {
  text-align: center;
  padding: 32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-text {
  color: red;
}

.solver-area {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  align-items: center;
}

.solver-area .item {
  padding: 16px;
}

.sudoku {
  border: 4px solid black;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sudoku-row {
  display: flex;
  width: fit-content;
  align-content: center;
}

button.solve {
  background-color: aliceblue;
  border: 1px solid black;
  font-size: 4rem;
  border-radius: 4px;
  padding: 16px;
}

@media (max-width: 100rem) {
  .solver-area {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    align-items: center;
  }
}

.puzzle-definition {
  font-size: 1.5rem;
}

.is-picked {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: yellow; }
  50% { color: black; }
  100% { color: yellow; }
}
